.gradient-background {
    background: linear-gradient(300deg, #feda75, #fa7e1e, #962fbf , #4f5bd5 );
    background-size: 180% 180%;
    animation: gradient-animation 8s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  